---
export interface Props {
  titulo: string;
  imagen: string;
  tecnologias: string[];
  codigo: string;
}

const { titulo, imagen, tecnologias, codigo } = Astro.props;
---

<div
  class="group flex w-full max-w-md mx-auto flex-col overflow-hidden rounded-xl bg-gray-900 border border-white/5 transition-all hover:scale-[1.015] drop-shadow-[4px_4px_0_#B900BC]"
>
  <img
    src={imagen}
    alt={`Proyecto: ${titulo}`}
    class="h-52 p-3 w-full object-cover rounded-2xl"
  />

  <div class="flex flex-col grow p-3">
    <h3 class="text-lg font-semibold mb-2 text-white drop-shadow-[1px_1px_0_#B900BC]">
      {titulo}
    </h3>

    <div class="flex flex-wrap gap-2 mb-4">
      {
        tecnologias.map((tech) => (
          <span class="rounded-md bg-[#00FFAB]/10 text-[#00FFAB] px-2 py-0.5 text-xs font-semibold border border-[#00FFAB]/20">
            {tech}
          </span>
        ))
      }
    </div>

    <div class="mt-auto">
      <a
        href={codigo}
        target="_blank"
        rel="noopener noreferrer"
        class="block w-full text-center border border-[#B900BC] text-[#B900BC] py-2 rounded-md text-sm font-bold hover:bg-[#B900BC] hover:text-white transition-all duration-300"
      >
        Ver Análisis en GitHub
      </a>
    </div>
  </div>
</div>